*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 10px;
}
@media screen and (max-width:996px){
    
    .rounded{
        width: 50%!important;
        /* padding-left: 35% !important; */
        
    }
    .rounded img{
        width: 500px !important; 
        height: 500px !important;
        border-radius: 50%;
        
    }
     body {
        margin-top: 20px;
        margin-left: -30px !important; 
        
    } 
    #name, #aim{
        font-size: 40px !important;
        
    }
}
@media screen and (min-width:1200px){
    .rounded{
        width: 300px !important;
        /* padding-left: 35% !important; */
        
    }
    .rounded img{
        width: 300px;
        height: 300px;
        border-radius: 50%;
        
    }
     body {
        margin-top: 20px;
        margin-left: 50%; 
        
    } 
    
    p {
        margin-top: 30px;
        margin-right:20px ;
        width: auto;
        font-size: 2rem;
        
    }
    .aim{
        margin-top: 10px;
        text-align: center;
    }
}
